name: workout
description: Run a workout session on Wear OS and Tizen. Get data such as heart rate in real time.
version: 0.6.4
homepage: https://github.com/Rexios80/flutter_workout

environment:
  sdk: ^3.0.0
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter

  flutter_plugin_android_lifecycle: ^2.0.5
  permission_handler: ^11.0.0
  permission_handler_tizen: ^1.0.0
  collection: ^1.16.0
  flutter_tizen: ^0.2.2

dev_dependencies:
  rexios_lints: ^8.2.0

flutter:
  plugin:
    platforms:
      android:
        package: dev.rexios.workout
        pluginClass: WorkoutPlugin
      tizen:
        pluginClass: WorkoutPlugin
        fileName: workout_plugin.h
      ios:
        pluginClass: WorkoutPlugin
