<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="dev.rexios.workout">
    <queries>
        <package android:name="com.google.android.wearable.healthservices" />
    </queries>

    <application>
        <receiver android:name=".WorkoutPlugin" android:exported="true">
            <intent-filter>
                <action android:name="hs.passivemonitoring.HEALTH_EVENT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
