<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="dev.rexios.workout">
    <!-- These permissions are required for the Galaxy Watch4 -->
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <queries>
        <package android:name="com.google.android.wearable.healthservices" />
    </queries>

    <application>
        <receiver android:name=".WorkoutPlugin" android:exported="true">
            <intent-filter>
                <action android:name="hs.passivemonitoring.HEALTH_EVENT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
